/* 

min-width: 480px: Will target mobile devices in landscape mode and up

min-width: 600px: Targets tablets in portrait mode and up

min-width: 768px: Targets tablets in landscape mode and up

min-width: 1024px: Targets the desktop view

*/

@media screen and (min-width: 480px){
    .content-container > *{
        flex: 1 1;
    }
    .content-container{
        flex-direction: row;
        margin-top: 20px;
    }
    .container-picture{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5px;
    }
    .container-information{
        width: auto;
        padding-left: 20px;
    }
}






@media screen and (min-width: 768px){
    .wrapper{

        background: linear-gradient(
            to right, 
            #9099A2 0%, 
            #9099A2 40%, 
            #D5D5D5 40%, 
            #D5D5D5 100%
          );
    }

    /* HEADING */
/* ---------------------------------------------- */
.content-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropbtn{
    background-color: #287bf8;
    color: white;
    font-size: 20px;
    border: 0.1px solid;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}
.dropdown{
    position: initial;
    display: inline-block;
    text-align: center;
}
.dropdown-content{
    display: none;
    position: initial;
    background-color: #287bf8;
    border-radius: 0;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: inline-block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: #287bf8;
    border-radius: 0;
    box-shadow: none;
}
.dropdown-links{
    margin: 5px;
    padding: 5px 0 5px 0;
    width: 200px;
    border: 0.1px solid lightskyblue;
} 
}