/* 

min-width: 480px: Will target mobile devices in landscape mode and up

min-width: 600px: Targets tablets in portrait mode and up

min-width: 768px: Targets tablets in landscape mode and up

min-width: 1024px: Targets the desktop view

*/

@media screen and (min-width: 480px){
    .content-container > *{
        flex: 1 1;
    }
    .content-container{
        flex-direction: row;
        margin-top: 20px;
    }
    .container-picture{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5px;
    }
    .container-information{
        width: auto;
        padding-left: 20px;
    }
}






@media screen and (min-width: 768px){
    .wrapper, .content-heading, .main-footer{

        background: linear-gradient(
            to right, 
            #9099A2 0%, 
            #9099A2 40%, 
            #D5D5D5 40%, 
            #D5D5D5 100%
          );
    }

    /* HEADING */
/* ---------------------------------------------- */
.content-heading{
    display: flex;
    flex-direction: row;
}
.title{
    padding: 0 0 0 20px;
}

.dropdown {
    width: 40%;
}
.dropbtn{
    border: none;
}
.footer-center{
    text-align: left;
}



}