/* 

min-width: 480px: Will target mobile devices in landscape mode and up

min-width: 600px: Targets tablets in portrait mode and up

min-width: 768px: Targets tablets in landscape mode and up

min-width: 1024px: Targets the desktop view

*/

@media screen and (min-width: 480px){
    /**********************************
    INDEX
    ***********************************/
    .content-container > * {
        flex: 1 1 auto;
    }
    .content-container{
        padding-top: 20px;
    }
    .container-picture{
        padding: 0;
        margin-right: 5px;
    }
    .main-photo{
        width: 250px;
    }
    .container-information{
        width: auto;
        padding-left: 20px;
    }
    /**********************************
    RESUMESTYLE
    ***********************************/
    .flex{
        flex-direction: row;
    }
}


@media screen and (min-width: 768px){
    .wrapper{
        width: 95%;
        margin: auto;
    }
    body{
        background: linear-gradient(
            to right, 
            #464866 0%, 
            #464866 30%, 
            #AAABB8 30%, 
            #AAABB8 100%
          );
    }

    /* HEADING */
/* ---------------------------------------------- */
    .content-heading{
        width: 30%;
    }
    .title{
        margin-bottom: 0;
    }

    /* DROPDOWN */
/* ---------------------------------------------- */
    .dropbtn{
        border: none;
        visibility: hidden;
    }    
    .dropdown {
        width: 30%;
        visibility: hidden;
    }

    /* WRAPPER */
/* ---------------------------------------------- */

    /* MAIN CONTENT */
/* ---------------------------------------------- */
    .content-container{
        padding-top: 0;
        flex-direction: row;
    }
    .container-picture{
        margin-left: 10%;
    }
    .main-photo{
        width: 300px;
    }
    /* BIG-NAV */
/* ---------------------------------------------- */
    .big-menu-content{
        visibility: visible;
        
    }

    /* FOOTER */
/* ---------------------------------------------- */
    #footer{
        width: 30%;
        background-color: #464866;
    }
    /**********************************
    RESUME
    ***********************************/
    .main-card{
        padding-top: 0;
    }
    /**********************************
    PORTFOLIO
    ***********************************/
    .flex-slider{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .content-container-slider{
        padding-top: 0;
    }
}

@media screen and (min-width: 1000px){
    .main-photo{
        width: 350px;
    }
}