
.wrapper{
    text-align: left;
    position: relative;
    min-height: 100%;
    margin-top: -20px;
  }

.color-container{
    background: linear-gradient(
        to bottom, 
        #287bf8 0%, 
        #287bf8 35%, 
        white 35%, 
        white 100%
      );

}

/* Container, with image, text and buttons */
.container-content{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.content-picture{
    display:flex;
    align-items:center;
    justify-content:center;
}

.main-photo{
    max-width: 80%;
    margin-bottom: 10px;
}

.content-information{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.content-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.links-button{
    list-style-type: none;
    width: 100%;
    height: auto;
    margin: 2px 0;
    background-color: lightgrey;
    border-bottom: 2px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
}

/* Footer */
#footer{
    position: absolute;
    width: 100%;
}
.social-icon{
    width: 20px;
    height: 20px;
}
